/* src/index.css */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 0;
}
.header-logo {
  width: 40px;
  margin-right: 1rem;
}
.header-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
 font-size: 36px;

}
